<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台管理 - ABC 公司</title>
    <link rel="stylesheet" href="{{url_for('static', path='/css/admin_bar.css')}}">

    <link rel="stylesheet" href="{{url_for('static', path='/css/admin.css')}}">
</head>
<body>
    {% include 'admin_header.html' %}

    <section class="dashboard">
        <h1>仪表盘</h1>
        <div class="stats">
            <div class="stat">
                <h2>用户数</h2>
                <p>100</p>
            </div>
            <div class="stat">
                <h2>产品数</h2>
                <p>50</p>
            </div>
            <div class="stat">
                <h2>订单数</h2>
                <p>200</p>
            </div>
            <div class="stat">
                <h2>报告数</h2>
                <p>30</p>
            </div>
        </div>
    </section>

{% include 'admin_footer.html' %}
</body>
</html>
