<!DOCTYPE html>
<html>
<head>
    <title>流程图编辑器</title>
    <link rel="stylesheet" href="{{url_for('static', path='/css/product_lines.css')}}">
</head>
<body>
<div id="sidebar">
    <a href="/" class="back-to-home">返回首页</a>
    <h2>算法列表</h2>
    <ul>
        {% for one_node_msg in all_nodes_msg %}
        <li class="sidebar-item">
            <div onclick="toggleSubMenu(this)" class="sidebar-link">
                {{one_node_msg["onde_node_type"]}}
            </div>
            <ul class="submenu">
                <li class="sidebar-item1 sidebar-item algorithm-block" draggable="true"
                    ondragstart="drag(event, {{one_node_msg['node_id']}})" id="{{one_node_msg['node_id']}}">{{one_node_msg["one_node_zh_name"]}}
                </li>
            </ul>
        </li>
        {% endfor %}
    </ul>
</div>

<div id="canvas" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
</body>
<script src="{{url_for('static', path='/js/product_lines.js')}}"></script>


</html>

