/* 用户管理样式 */

.content {
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

table th {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.btn-edit,
.btn-delete {
    display: inline-block;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn-edit {
    margin-right: 5px;
}

.btn-edit:hover,
.btn-delete:hover {
    background-color: #555;
}


/*模态框*/

.modal {
    cursor: move;
    display: none;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    max-width: 90%;
    padding: 20px;
    border: 1px solid #888;
    background-color: rgba(255, 255, 255, 0.8); /* 背景颜色设置为透明度为0.8的白色 */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.modal-header {
    cursor: move;
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

button[type="submit"]:focus {
    outline: none;
}
