/* 全局样式 */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* 导航菜单样式 */

nav {
    background-color: #f2f2f2;
    padding: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

/* 页脚样式 */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 0;
}