.sidebar {
  width: 250px;
  background-color: #f1f1f1;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
  z-index: 9999;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-item {
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  padding: 10px;
}

.sidebar-item1 {
  border-bottom: 1px solid #ccc; /* 添加菜单项的边框分割线 */
  margin-left: 15px;
  cursor: pointer;
}

.sidebar-link {
  padding: 10px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  cursor: pointer;
  border-bottom: 1px solid #ccc; /* 添加菜单项的边框分割线 */

}

.sidebar-link:hover {
  background-color: #ccc;
  margin-left: 15px;
}

.sidebar-item1:hover {
  background-color: #ccc;
  margin-left: 20px;
}

.submenu {
  display: none;
}

.sidebar-divider {
  margin: 10px 0;
  border-bottom: 1px solid #ccc;
}

.content {
  margin-left: 270px; /* 调整内容区域的左边距，留出侧边栏的宽度 */
  padding: 20px;
  box-sizing: border-box;
}

h2 {
  text-align: center;
}

.img-ex {
  height: 20px;
  width: 20px;
}