<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>control</title>
    <script type="text/javascript" src="{{ static('admin/js/vue2.js') }}"></script>
    <link rel="stylesheet" href="{{ static('admin/css/admin_control.css') }}" />
</head>
<body>
<h1>这里是admin_control</h1>
{{ username }}

<div id="menu">
    <div class="menu_children">
        <table>
            <ul>
                <li>测试</li>
                <li>测试</li>
                <li>测试</li>
                <li>测试</li>
                <li>测试</li>
                <li>测试</li>
                <li>测试</li>
            </ul>
        </table>
    </div>
</div>

</body>
</html>